@use "../variables" as variables;

// Variables
$searchBarPadding: 10px;
$gutter: 16px;
$padding: 5px;

.product-search-page {
  .search-bar {
    margin: 0 calc(100vw / 12);
    width: calc(100vw * 10 / 12);
    padding: $searchBarPadding;
    text-align: center;
    background-color: variables.$grey;

    input {
      margin: 0 10px;
      border-radius: 12px;
      border: 1px solid variables.$red !important;
      padding: 5px;
      width: calc(100vw * 4 / 12);
      &:focus {
        outline: none;
      }
    }

    i {
      cursor: pointer;
      color: variables.$red;
    }
  }

  .filter-switch-btn {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: $padding;

    .filters {
      max-width: calc(100vw * 2 / 12);
      height: fit-content;
      margin-left: calc(100vw / 12);
      background-color: variables.$grey;
      padding: 15px;
      position: -webkit-fixed;
      position: sticky;
      top: 5%;
    }

    .products {
      max-width: calc(100vw * 8 / 12);
      padding: 15px;
    }
  }

  @media only screen and (max-width: 800px) {
    .search-bar {
      margin: 0 $gutter;
      width: calc(100vw - 2 * $gutter);

      input {
        width: calc(100vw * 3 / 5);
      }
    }

    .filter-switch-btn {
      display: inline-block;
      margin: 0 $gutter;
      width: calc(100vw - 2 * $gutter);
      padding: 5px;

      button {
        width: 100%;
        padding: 5px;
        font-size: 1.1rem;
        border: 1px solid variables.$yellow;
        background-color: variables.$yellow;
      }
    }

    .container {
      display: grid;
      grid-template-columns: 1fr;

      .filters {
        position: static;
        margin: 0 $gutter;
        max-width: calc(100vw - 2 * $gutter);
      }

      .products {
        margin: 0 $gutter;
        max-width: calc(100vw - 2 * $gutter);
      }
    }
  }
}
