@use "../../variables" as variables;

$gutter: 16px;

.product-search-page {
  .container {
    .filter {
      .color-list {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        .color {
          margin: 3px;
          padding: 12px;
          height: auto;
          border-radius: 50%;
          text-align: center;
        }
      }

      .check-item, .radio-item {
        cursor: pointer;
        font-size: 1.2rem;
      }

      .number-interval {
        .input0, .input1 {
          width: calc(50% - 10px);
          margin: 0 5px;
          font-size: 1.2rem;
          border: 1px solid variables.$yellow;
          border-radius: 8px;
        }
      }

      @media only screen and (max-width: 800px) {
      }
    }
  }
}
